[submodule "themes/MyNext"]
	path = themes/MyNext
	url = https://github.com/wutaotao2015/wutaotao-hexo-next-theme.git
[submodule "themes/yilla"]
	path = themes/yilla
	url = https://github.com/cll2019/yillaTheme.git
